@font-face {
  font-family: "BuyanRegular";
  src: local("BuyanRegular"), url("/fonts/BuyanRegular.ttf") format("truetype");
}

@font-face {
  font-family: "centurygothic";
  src: local("centurygothic"),
    url("/fonts/centurygothic.ttf") format("truetype");
}

.hero-section {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5.2vw;
}

.hero-background {
  position: absolute;
  width: 100vw;
  height: 59.79vw;
  background-image: url("../assets/HeroSection.jpg");
  background-size: cover;
  z-index: -1;
}

.hero-overlay {
  position: absolute;
  width: 1100vw;
  height: 59.79vw;
  background: linear-gradient(
    360deg,
    rgb(255, 255, 255) 5%,
    rgba(0, 0, 0, 0.3) 20%
  );
  z-index: -1;
}

.hero-content {
  text-align: center;
  color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 28.64vw;
}

.hero-title {
  font-family: "BuyanRegular";
  font-size: 9.4vw;
  font-weight: 400;
  line-height: 10.2vw;
  text-transform: uppercase;
}

.hero-subtitles {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: "BuyanRegular";
  text-transform: uppercase;
  text-align: right;
  line-height: 5.2vw;
}

.hero-left {
  font-size: 5.2vw;
  font-weight: 400;
}

.hero-right {
  font-size: 5.2vw;
  font-weight: 400;
}

.hero-text {
  position: absolute;
  bottom: -26.04vw;
  left: 0px;
  display: flex;
  gap: 14.9vw;
}

.hero-text p {
  font-family: "centurygothic";
  text-align: left;
  font-size: 2.6vw;
  font-weight: 400;
  line-height: 2.39vw;
  text-wrap: nowrap;
}

.hero-contact-block {
  display: flex;
  align-items: center;
  gap: 5.2vw;
}

.hero-contact-block .hero-social-icons {
  display: flex;
  gap: 1.04vw;
}

.hero-contact-block .hero-contact-info {
  text-align: left;
}

.hero-social-circle {
  width: 5.05vw;
  aspect-ratio: 1;
  background: rgba(132, 170, 200, 1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.hero-social-circle img {
  width: 3.5vw;
  aspect-ratio: 1;
}

.hero-social-circle:hover {
  background-color: rgba(102, 128, 160, 1);
}

.hero-contact-info a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.hero-contact-info a:hover {
  text-decoration: underline;
}
